body {
  font-family: "Times New Roman", Times, serif;
  background-image: url("fire\ stadium.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  padding: 20px;
}

nav {
  background-color: #29171786;
  padding: 40px;
  font-size: 25px;
  backdrop-filter: blur(10px);
  margin: 5px;
  transition: 0.3s;
  border-radius: 13px;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

nav a:hover {
  color: rgb(222, 224, 92);
  border-bottom: 2px solid rgb(222, 224, 92);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 15%;
}

nav ul li a {
  color: #a4e1e5;
  text-decoration: none;
}

#about {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#about p {
  line-height: 2.5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  font-size: 25px;
}

#teams {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#teams p {
  line-height: 2.5;
  color: #ffffff;
}

a {
  transition: 0.3s;
}

.container1 {
  margin-left: 35%;
  padding: 20px;
  text-align: justify;
}

.team {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.team img {
  margin-top: 8px;
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.team h2 {
  flex: 1;
}

footer {
  text-align: left;
  background-color: #29171786;
  color: #a4e1e5;
  padding: 40px;
  font-size: 20px;
  backdrop-filter: blur(10px);
  margin: 5px;
  border-radius: 13px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 60%;
}
