<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPL Score Predictor</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/matchpage.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>IPL Score Prediction</h2>
      <form action="{{ url_for('predict') }}" method="post">
        <label for="battingteam">Batting Team</label>
        <select
          id="battingteam"
          name="battingteam"
          onchange="updateSecondDropdown()"
          required
        >
          <option value="">Select Batting Team</option>
          <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
          <option value="Chennai Super Kings">Chennai Super Kings</option>
          <option value="Rajasthan Royals">Rajasthan Royals</option>
          <option value="Mumbai Indians">Mumbai Indians</option>
          <option value="Punjab Kings">Punjab Kings</option>
          <option value="Delhi Capitals">Delhi Capitals</option>
          <option value="Royal Challengers Bengaluru">
            Royal Challengers Bengaluru
          </option>
          <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          <option value="Lucknow Super Giants">Lucknow Super Giants</option>
          <option value="Gujarat Titans">Gujarat Titans</option>
        </select>

        <label for="bowlingteam">Bowling Team</label>
        <select
          id="bowlingteam"
          name="bowlingteam"
          onchange="updateFirstDropdown()"
          required
        >
          <option value="">Select Bowling Team</option>
          <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
          <option value="Chennai Super Kings">Chennai Super Kings</option>
          <option value="Rajasthan Royals">Rajasthan Royals</option>
          <option value="Mumbai Indians">Mumbai Indians</option>
          <option value="Punjab Kings">Punjab Kings</option>
          <option value="Delhi Capitals">Delhi Capitals</option>
          <option value="Royal Challengers Bengaluru">
            Royal Challengers Bengaluru
          </option>
          <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          <option value="Lucknow Super Giants">Lucknow Super Giants</option>
          <option value="Gujarat Titans">Gujarat Titans</option>
        </select>

        <script>
          function updateSecondDropdown() {
            var firstDropdown = document.getElementById("battingteam");
            var secondDropdown = document.getElementById("bowlingteam");
            var selectedValue = firstDropdown.value;
            var options = secondDropdown.options;
            for (var i = 0; i < options.length; i++) {
              if (options[i].value === selectedValue) {
                options[i].disabled = true;
              } else {
                options[i].disabled = false;
              }
            }
          }
        </script>

        <script>
          function updateFirstDropdown() {
            var firstDropdown = document.getElementById("bowlingteam");
            var secondDropdown = document.getElementById("battingteam");
            var selectedValue = firstDropdown.value;
            var options = secondDropdown.options;
            for (var i = 0; i < options.length; i++) {
              if (options[i].value === selectedValue) {
                options[i].disabled = true;
              } else {
                options[i].disabled = false;
              }
            }
          }
        </script>

        <script>
          document.addEventListener("DOMContentLoaded", function () {});

          document
            .getElementById("prediction-form")
            .addEventListener("submit", function (event) {
              event.preventDefault(); // Prevent default form submission
              // Get selected teams
              const battingTeam = document.getElementById("battingteam").value;
              const bowlingTeam = document.getElementById("bowlingteam").value;

              // Store selected teams in localStorage
              localStorage.setItem(
                "selectedTeams",
                JSON.stringify({ battingTeam, bowlingTeam })
              );
            });
        </script>

        <label for="currentBall">Current Ball</label>
        <input
          type="range"
          id="currentBall"
          name="currentBall"
          min="0"
          max="20"
          required
        />

        <label for="currentScore">Current Score</label>
        <input
          type="number"
          id="currentScore"
          name="currentScore"
          min="0"
          required
        />

        <label for="currentWickets">Current Wickets</label>
        <input
          type="number"
          id="currentWickets"
          name="currentWickets"
          required
          max="10"
          min="0"
        />

        <label for="stadium">Stadium</label>
        <select id="stadium" name="stadium" required>
          <option value="">Select Stadium</option>
          <option value="1">Eden Gardens</option>
          <option value="2">Wankhede Stadium</option>
          <option value="3">M. Chinnaswamy Stadium</option>
          <option value="4">M. A. Chidambaram Stadium</option>
          <option value="5">Arun Jaitley Stadium</option>
          <option value="6">Rajiv Gandhi International Stadium</option>
          <option value="7">Narendra Modi Stadium</option>
          <option value="8">
            Punjab Cricket Association IS Bindra Stadium
          </option>
          <option value="9">
            Himachal Pradesh Cricket Association Stadium
          </option>
          <option value="10">Sawai Mansingh Stadium</option>
        </select>
        <input type="submit" value="Predict" />
      </form>
    </div>
  </body>
</html>
