<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPL Score Predictor</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/predictpage.css') }}"
    />
  </head>
  <body>
    <div class="logout-container">
      <button class="logout-button" onclick="logout()">Logout</button>
    </div>
    <nav>
      <ul>
        <li class="pre">Predicted Result</li>
        <li></li>
      </ul>
    </nav>

    <div class="teamcont">
      <h2 class="ba">Batting Team</h2>
      <h2 class="bo">Bowling Team</h2>
    </div>

    <div class="imgcont">
      <img
        class="bat"
        id="batting-team-logo"
        src="{{battingLogo}}"
        alt="Batting Team Logo"
      />
      <img
        class="bowl"
        id="bowling-team-logo"
        src="{{bowlingLogo}}"
        alt="Bowling Team Logo"
      />
    </div>

    <div class="namecont">
      <p class="bat1">{{battingTeam}}</p>
      <p class="bowl2">{{bowlingTeam}}</p>
    </div>

    <div class="logo-container">
      <h2>Predicted Score</h2>
      <p class="sco">{{score}}</p>
    </div>

    <script>
      function logout() {
        window.location.href = "{{ url_for('home') }}";
      }

      function logoutClicked(event) {
        event.preventDefault(); // Prevent form submission
        var confirmed = confirm("Are you sure you want to logout?");
        if (confirmed) {
          alert("Successfully logged out!");
          document.getElementById("logoutForm").submit(); // Submit the form after the prompt
        }
      }
    </script>
  </body>
</html>
