body {
  font-family: "Arial", sans-serif;
  background-color: #c31d1d;
}

h2 {
  text-align: center;
}

#teams {
  margin-bottom: 20px;
}

.team {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.team img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.team-name {
  font-size: 18px;
}

#predicted-score {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

* {
  color: rgb(27, 2, 2);
  margin: 0px;
  padding: 0px;
}
.container {
  background-image: url("/static/fire stadium.png");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

/* Style for the prediction details */
.prediction-details {
  text-align: center;
  margin-top: 20px;
}

/* Style for the team container */
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the logo images */
.team-logo {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px; /* Add space between logo and team name */
}

/* Style for the team names */
.team-name {
  color: white;
  font-size: 20px; /* Adjust the font size as needed */
}

/* Style for the submit button */
input[type="submit"] {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 20px 40px; /* Larger padding for more space around the text */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Display as inline-block to center */
  font-size: 16px; /* Font size */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
  background-color: #45a049; /* Darker green background on hover */
}
