body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../—Pngtree—3d\ render\ illustration\ of\ a_5809305.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
}

.logo-container {
  margin-left: 41%;
  color: rgb(237, 233, 163);
  font-size: 150%;
}

.sco {
  margin-left: 11%;
  font-size: 170%;
}

.logout1-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
}

nav {
  background-color: none;
  padding: 40px;
  font-size: 45px;
  margin: 5px;
  transition: 0.3s;
  border-radius: 13px;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20%;
}

nav ul li a {
  color: #a4e1e5;
  text-decoration: none;
}

.pre {
  margin-left: 40%;
}

.teamcont {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
}

.imgcont img {
  width: 20vh;
  height: 20vh;
}

.ba {
  color: beige;
  margin-left: 13%;
}

.bo {
  color: beige;
  margin-left: 49%;
}

.imgcont {
  display: flex;
  flex-direction: row;
}

.namecont {
  display: flex;
  flex-direction: row;
}

.bat1 {
  margin-left: 14%;
}

.bowl2 {
  margin-left: 48%;
}

.bowl {
  margin-left: 49%;
}

.bat {
  margin-left: 13%;
}

.logout-container {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

.logout-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 50px;
}
